# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Segredos e configuração local
Config.plist
GoogleService-Info.plist
*.p8
*.p12
*.mobileprovision

# macOS
.DS_Store
