openapi: 3.0.3
info:
  title: Portal Mundo Planalto - API do app Mundo Planalto (clube de férias)
  version: 1.1.0-draft
  description: |
    Contratos dos recursos NOVOS consumidos pelo app mobile (Android/iOS).
    Revisão de 01/10/2026 (docs/revisao-ceo-01-10.md, seção 3): certificados cadastrados por cliente com
    protocolo e SLA, campanhas (substituem ofertas) com clique rastreável, perfil de viagem com próxima
    viagem, solicitação de alteração de dados, redes sociais do empreendimento e sessão longa.
    Saíram do contrato: milhas e collection (fora da V1).
    Benefícios, certificados, campanhas e cartão são filtrados no backend pelos empreendimentos do cliente.
    Convenções herdadas do backend MundoPlanaltoPortal (.NET 10 / EF Core / PostgreSQL):
    - Prefixo `/api`, sem versionamento (padrão atual do portal).
    - Autenticação Bearer JWT emitido por `POST /api/auth/login` (claims NameIdentifier, Name, Document).
    - Envelope de resposta `ApiResponse<T>`: `{ "success": bool, "message": string|null, "data": T|null }`.
    - Erros: 400 validação, 401 sem token, 403 sem permissão, 404 não encontrado, 429 rate limit, 500 `{ success:false, message:"Erro interno do servidor" }`.
    - Escrita administrativa exige política `AdminOnly`; leitura do cliente exige `ClientOnly`.
    - Datas em ISO 8601 UTC. Valores monetários em decimal com 2 casas. Documentos sem máscara.
    Rotas públicas (sem token) estão marcadas com `security: []` e DEVEM ter `limit_req` no Nginx.
servers:
  - url: https://api.portal.mundoplanalto.com.br/api
    description: Homologação (portal_homolog, porta 5083)
  - url: https://portal.mundoplanalto.com.br/api
    description: Produção (portal.service, porta 5082)

security:
  - bearerAuth: []

tags:
  - name: Membro
    description: Cartão, nível, perfil de viagem e preferências do cliente logado
  - name: Cartão (público)
    description: Verificação do QR Code pelo parceiro, sem login do cliente
  - name: Benefícios
    description: Parceiros, cupons e registro de uso
  - name: Certificados
    description: Certificados cadastrados pela Central de Contratos por venda, com protocolo e SLA do Pós-vendas
  - name: Campanhas
    description: Campanhas com CTA rastreável (substituem ofertas)
  - name: Dados cadastrais
    description: Solicitações de alteração de endereço, telefone e e-mail aprovadas pela Central
  - name: Sessão
    description: Renovação do token para a sessão fixa do app
  - name: Empreendimentos
  - name: Dispositivos
    description: Registro de token FCM/APNs por usuário
  - name: Unity
  - name: Admin
    description: Cadastros usados pelo backoffice (Marketing / Pós-vendas)

paths:

  # ------------------------------------------------------------------ Membro
  /members/me/card:
    get:
      tags: [Membro]
      summary: Cartão digital do cliente logado (nível, número, status e token do QR)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/MemberCard" }

  /members/me/travel-profile:
    get:
      tags: [Membro]
      summary: Perfil de viagem (onde mora e destinos preferidos)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/TravelProfile" }
    put:
      tags: [Membro]
      summary: Cria ou atualiza o perfil de viagem
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TravelProfile" }
      responses:
        "200": { description: Atualizado }
        "400": { description: Validação (destinos entre 1 e 4, cidade obrigatória) }

  /members/me/notification-preferences:
    get:
      tags: [Membro]
      summary: Preferências de notificação (promoções de milhas, avisos)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/NotificationPreferences" }
    put:
      tags: [Membro]
      summary: Atualiza preferências (toggle "receber novas promoções")
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NotificationPreferences" }
      responses:
        "200": { description: Atualizado }

  # ------------------------------------------------------- Cartão (público)
  /card/verify/{token}:
    get:
      tags: [Cartão (público)]
      summary: Verificação do QR Code pelo parceiro (status ativo/inativo em tempo real)
      description: |
        Chamado pela página web `https://portal.mundoplanalto.com.br/card/{token}` que abre ao escanear o QR.
        Não devolve dados sensíveis: só primeiro nome, nível, status e contagem de usos.
        Deve ter rate limit (Nginx `limit_req`, ex.: 30 req/min por IP).
      security: []
      parameters:
        - $ref: "#/components/parameters/CardToken"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/CardVerification" }
        "404": { description: Token inválido }

  /card/verify/{token}/redemptions:
    post:
      tags: [Cartão (público)]
      summary: Parceiro registra o uso de um benefício para este cartão
      description: |
        O parceiro informa seu código e PIN (entregues no cadastro). Incrementa a contagem de usos
        e respeita `usageLimitPerCustomer` do parceiro. Base para os relatórios do Comercial/Marketing.
      security: []
      parameters:
        - $ref: "#/components/parameters/CardToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [partnerCode, partnerPin]
              properties:
                partnerCode: { type: string, example: "LUGANO" }
                partnerPin: { type: string, example: "4821" }
                note: { type: string, nullable: true }
      responses:
        "200":
          description: Uso registrado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/BenefitRedemption" }
        "403": { description: Cliente inativo/inadimplente ou PIN inválido }
        "409": { description: Limite de usos atingido }

  # ------------------------------------------------------------ Benefícios
  /partners:
    get:
      tags: [Benefícios]
      summary: Parceiros ativos (Gramado no MVP)
      parameters:
        - in: query
          name: city
          schema: { type: string, example: "Gramado" }
        - in: query
          name: category
          schema: { $ref: "#/components/schemas/PartnerCategory" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Partner" }

  /partners/{id}:
    get:
      tags: [Benefícios]
      summary: Detalhe do parceiro (condições, cupom, endereço)
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/Partner" }
        "404": { description: Não encontrado }

  /partners/{id}/coupon:
    post:
      tags: [Benefícios]
      summary: Cliente gera/recupera o cupom do parceiro ("Ver voucher")
      description: Registra a intenção de uso; o uso efetivo é confirmado pelo parceiro via QR.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/Coupon" }
        "403": { description: Cliente inativo }
        "409": { description: Limite de usos atingido }

  /members/me/redemptions:
    get:
      tags: [Benefícios]
      summary: Utilizações recentes do cliente (tela do cartão)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/BenefitRedemption" }

  # -------------------------------------------------------- Empreendimentos
  /ventures/{id}/videos:
    get:
      tags: [Empreendimentos]
      summary: Vídeos de atualização da obra (YouTube) do empreendimento
      description: Pode reaproveitar `VenturePhoto` com `MediaType = "video"` e `YoutubeUrl`.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/VentureVideo" }

  # ----------------------------------------------------------- Dispositivos
  /devices:
    post:
      tags: [Dispositivos]
      summary: Registra (ou renova) o token de push do dispositivo do usuário logado
      description: Permite push direcionado por usuário (hoje o backend só envia por tópico). Idempotente por token.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRegistration" }
      responses:
        "200": { description: Registrado }

  /devices/{token}:
    delete:
      tags: [Dispositivos]
      summary: Remove o token (logout / desinstalação)
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string }
      responses:
        "204": { description: Removido }

  # ------------------------------------------------------------------ Unity
  /unity/interest:
    post:
      tags: [Unity]
      summary: Registra que o cliente clicou em "Cadastrar no Unity" (lead para o CRM)
      description: Cria atividade/lead no Dynamics para o Marketing acompanhar; o app abre o site do programa em seguida.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: object
                        properties:
                          registrationUrl: { type: string, format: uri, example: "https://www.hardrock.com/unity" }
                          crmActivityId: { type: string, nullable: true }

  # ------------------------------------------------------------------ Admin
  /admin/partners:
    get:
      tags: [Admin]
      summary: Lista todos os parceiros (inclusive inativos)
      responses:
        "200": { description: OK }
    post:
      tags: [Admin]
      summary: Cadastra parceiro (com código e PIN para o registro de uso)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PartnerUpsert" }
      responses:
        "201": { description: Criado }
  /admin/partners/{id}:
    put:
      tags: [Admin]
      summary: Atualiza parceiro
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PartnerUpsert" }
      responses:
        "200": { description: Atualizado }
    delete:
      tags: [Admin]
      summary: Desativa parceiro (soft delete, padrão do portal)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200": { description: Desativado }

  /admin/members/{customerUserId}/level:
    put:
      tags: [Admin]
      summary: Define o nível do cliente (Founder, Legacy, Discovery)
      parameters:
        - in: path
          name: customerUserId
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [level]
              properties:
                level: { $ref: "#/components/schemas/MemberLevel" }
                memberSince: { type: string, format: date, nullable: true }
      responses:
        "200": { description: Atualizado }

  # ---------------------------------------------------------------- Certificados (revisão 01/10)
  /members/me/certificates:
    get:
      tags: [Certificados]
      summary: Certificados do cliente, como cadastrados pela Central de Contratos
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Certificate" }

  /certificates/{id}/request:
    post:
      tags: [Certificados]
      summary: Solicita a ativação; gera protocolo CERT-yyyy-nnnnnn e ocorrência no CRM para o Pós-vendas
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Solicitação registrada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/CertificateRequestResult" }
        "409": { description: Certificado não está disponível para solicitação }

  /admin/certificates/{id}:
    patch:
      tags: [Certificados]
      summary: Liberação pelo Pós-vendas (status, code, useUrl); dispara push "Seu certificado foi liberado"
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CertificateAdminUpdate" }
      responses:
        "200": { description: Atualizado }

  # ---------------------------------------------------------------- Campanhas (substituem ofertas)
  /campaigns:
    get:
      tags: [Campanhas]
      summary: Campanhas ativas, filtradas pelos empreendimentos do cliente
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Campaign" }

  /campaigns/{id}/interest:
    post:
      tags: [Campanhas]
      summary: Registra o clique no CTA (o backend conta cliques e conversão por campanha)
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200": { description: Interesse registrado; para ctaType online/postsales abre ocorrência para o time }

  /admin/campaigns:
    post:
      tags: [Campanhas]
      summary: Cadastra campanha (Marketing)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignUpsert" }
      responses:
        "201": { description: Criada }

  /admin/campaigns/{id}:
    put:
      tags: [Campanhas]
      summary: Atualiza campanha
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignUpsert" }
      responses:
        "200": { description: Atualizada }
    delete:
      tags: [Campanhas]
      summary: Desativa campanha (soft delete por IsActive)
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200": { description: Desativada }

  # ---------------------------------------------------------------- Dados cadastrais
  /customers/change-requests:
    get:
      tags: [Dados cadastrais]
      summary: Solicitações de alteração do cliente (generaliza address/change-requests)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/ChangeRequest" }
    post:
      tags: [Dados cadastrais]
      summary: Solicita alteração de endereço, telefone ou e-mail; a Central de Contratos aprova
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangeRequestCreate" }
      responses:
        "201":
          description: Solicitação criada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/ChangeRequest" }

  /admin/change-requests/{id}:
    patch:
      tags: [Dados cadastrais]
      summary: Aprova ou recusa a solicitação; dispara push "Sua solicitação de alteração foi aprovada"
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [approved, rejected] }
                adminNotes: { type: string, nullable: true }
      responses:
        "200": { description: Atualizada }

  /admin/members/{customerUserId}/travel-profile/history:
    get:
      tags: [Membro]
      summary: Histórico de edições do perfil de viagem, consultado pelo Pós-vendas
      parameters:
        - in: path
          name: customerUserId
          required: true
          schema: { type: integer }
      responses:
        "200": { description: Lista de versões do perfil (TravelProfileHistory) }

  # ---------------------------------------------------------------- Empreendimento e sessão
  /ventures/{id}/financial:
    get:
      tags: [Empreendimentos]
      summary: Resumo financeiro filtrado pelo empreendimento (aberto pela página do empreendimento)
      description: |
        `GET ventures` (API existente) passa a devolver também `city`, `state`, `instagramUrl`,
        `youtubeUrl` e `whatsappChannelUrl` por empreendimento (schema VentureSocialLinks).
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - properties:
                      data: { $ref: "#/components/schemas/VentureFinancialSummary" }

  /auth/refresh:
    post:
      tags: [Sessão]
      summary: Renova o JWT do cliente (alternativa a um JWT de validade longa, ex. 180 dias)
      description: Necessário para a sessão fixa; o app só volta ao Login em "Sair" ou 401 persistente.
      responses:
        "200":
          description: Novo token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  token: { type: string }
        "401": { description: Token inválido; o app encerra a sessão }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    robotApiKey:
      type: apiKey
      in: header
      name: X-Robot-Key

  parameters:
    Id:
      in: path
      name: id
      required: true
      schema: { type: integer }
    CardToken:
      in: path
      name: token
      required: true
      description: Token opaco do cartão (não é o número do membro nem o CPF)
      schema: { type: string, example: "HRVC-8f3a2c1e9b" }

  schemas:
    ApiResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string, nullable: true }
        data: { nullable: true }

    MemberLevel:
      type: string
      enum: [Founder, Legacy, Discovery]

    MemberStatus:
      type: string
      enum: [active, inactive]
      description: "`inactive` quando inadimplente ou contrato cancelado (regra em FinancialDataCache.TotalOverdue e CustomerCostCenter.ContractSituation)"

    MemberCard:
      type: object
      properties:
        name: { type: string, example: "José R. Castro" }
        level: { $ref: "#/components/schemas/MemberLevel" }
        memberNumber: { type: string, example: "8150" }
        memberSince: { type: string, format: date, example: "2026-01-15" }
        status: { $ref: "#/components/schemas/MemberStatus" }
        cardToken: { type: string, example: "HRVC-8f3a2c1e9b" }
        verifyUrl: { type: string, format: uri, example: "https://portal.mundoplanalto.com.br/card/HRVC-8f3a2c1e9b" }
        benefitUsageCount: { type: integer }
        clubName: { type: string, example: \"Mundo Planalto\", description: \"Nome do clube exibido no cartão\" }

    CardVerification:
      type: object
      properties:
        status: { $ref: "#/components/schemas/MemberStatus" }
        firstName: { type: string, example: "José" }
        level: { $ref: "#/components/schemas/MemberLevel" }
        memberNumber: { type: string, example: "8150" }
        benefitUsageCount: { type: integer }
        checkedAt: { type: string, format: date-time }

    PartnerCategory:
      type: string
      enum: [gastronomia, hospedagem, experiencias, compras, outros]

    ValidationType:
      type: string
      enum: [coupon, qr, card]
      description: Como o desconto é validado no parceiro (padrão da reunião - cupom)

    Partner:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, example: "Chocolates Lugano" }
        category: { $ref: "#/components/schemas/PartnerCategory" }
        city: { type: string, example: "Gramado" }
        state: { type: string, example: "RS" }
        discountPercent: { type: integer, minimum: 10, example: 10 }
        discountText: { type: string, example: "10% de desconto em toda a loja" }
        terms: { type: string, nullable: true }
        validationType: { $ref: "#/components/schemas/ValidationType" }
        logoUrl: { type: string, format: uri, nullable: true }
        imageUrl: { type: string, format: uri, nullable: true }
        address: { type: string, nullable: true }
        usageLimitPerCustomer: { type: integer, nullable: true, description: "null = ilimitado" }
        validUntil: { type: string, format: date, nullable: true }
        isActive: { type: boolean }

        isFeatured: { type: boolean, default: false, description: "Destaque com imagem; no máximo 2 por empreendimento" }
        ventureIds: { type: array, items: { type: integer }, description: "Empreendimentos a que o parceiro se aplica" }
    PartnerUpsert:
      type: object
      required: [name, category, city, state, discountPercent, discountText, validationType, partnerCode, partnerPin]
      properties:
        name: { type: string }
        category: { $ref: "#/components/schemas/PartnerCategory" }
        city: { type: string }
        state: { type: string }
        discountPercent: { type: integer, minimum: 10 }
        discountText: { type: string }
        terms: { type: string, nullable: true }
        validationType: { $ref: "#/components/schemas/ValidationType" }
        couponCode: { type: string, nullable: true, example: "HRVC-LUGANO10" }
        partnerCode: { type: string, example: "LUGANO" }
        partnerPin: { type: string, description: "Armazenar como hash" }
        logoUrl: { type: string, nullable: true }
        imageUrl: { type: string, nullable: true }
        address: { type: string, nullable: true }
        usageLimitPerCustomer: { type: integer, nullable: true }
        validUntil: { type: string, format: date, nullable: true }
        isActive: { type: boolean, default: true }

        isFeatured: { type: boolean, default: false, description: "Destaque com imagem; no máximo 2 por empreendimento" }
        ventureIds: { type: array, items: { type: integer }, description: "Empreendimentos a que o parceiro se aplica" }
    Coupon:
      type: object
      properties:
        partnerId: { type: integer }
        partnerName: { type: string }
        code: { type: string, example: "HRVC-LUGANO10" }
        discountText: { type: string }
        validUntil: { type: string, format: date, nullable: true }
        remainingUses: { type: integer, nullable: true }
        instructions: { type: string, example: "Apresente este código no parceiro" }

    BenefitRedemption:
      type: object
      properties:
        id: { type: integer }
        partnerId: { type: integer }
        partnerName: { type: string }
        discountText: { type: string }
        usedAt: { type: string, format: date-time }
        source: { type: string, enum: [qr, coupon, card] }

    TravelProfile:
      type: object
      required: [homeCity, homeState, preferredDestinations]
      properties:
        homeCity: { type: string, example: "Goiânia" }
        homeState: { type: string, example: "GO" }
        preferredDestinations:
          type: array
          minItems: 1
          maxItems: 4
          items: { type: string }
          example: ["Gramado", "Orlando", "Cancún", "Lisboa"]
        nextTripWhen: { type: string, enum: [within_6_months, within_1_year, more_than_1_year, unknown], nullable: true }
        nextTripDestination: { type: string, nullable: true, example: "Gramado" }
        source: { type: string, enum: [pep, app], readOnly: true, description: "pep = respostas da compra; app = editado pelo cliente" }
        updatedAt: { type: string, format: date-time, readOnly: true }

    NotificationPreferences:
      type: object
      properties:
        campaigns: { type: boolean, default: true, description: "Receber campanhas e novidades (único opt-in do app)" }
        announcements: { type: boolean, default: true }
        updatedAt: { type: string, format: date-time, readOnly: true }

    VentureVideo:
      type: object
      properties:
        id: { type: integer }
        title: { type: string, example: "Atualização da obra - Setembro de 2026" }
        youtubeUrl: { type: string, format: uri }
        thumbnailUrl: { type: string, format: uri, nullable: true }
        publishedAt: { type: string, format: date-time }

    DeviceRegistration:
      type: object
      required: [token, platform]
      properties:
        token: { type: string }
        platform: { type: string, enum: [android, ios] }
        appVersion: { type: string, nullable: true, example: "2.0.0" }
        deviceModel: { type: string, nullable: true }

    CertificateKind:
      type: string
      enum: [rci, maisviagens, gift]
    CertificateState:
      type: string
      enum: [available, requested, released, used, expired]
    Certificate:
      type: object
      description: Substitui o modelo de 2 tipos fixos. Cadastrado pela Central de Contratos, vinculado ao contrato.
      properties:
        id: { type: integer }
        name: { type: string, example: "Certificado RCI — 7 noites", description: "Exibido no app exatamente como cadastrado" }
        type: { $ref: "#/components/schemas/CertificateKind" }
        quantity: { type: integer, example: 1 }
        status: { $ref: "#/components/schemas/CertificateState" }
        expiresAt: { type: string, format: date, nullable: true, example: "2027-12-31" }
        protocol: { type: string, nullable: true, example: "CERT-2026-000123" }
        code: { type: string, nullable: true, example: "MV-8150-2026", description: "Preenchido na liberação" }
        useUrl: { type: string, format: uri, nullable: true, example: "https://maisviagens.com.br/" }
        requestedAt: { type: string, format: date-time, nullable: true }
        releasedAt: { type: string, format: date-time, nullable: true }
        usedAt: { type: string, format: date-time, nullable: true }
    CertificateRequestResult:
      type: object
      properties:
        protocol: { type: string, example: "CERT-2026-000123" }
        slaHours: { type: integer, example: 48, description: "SLA parametrizado; estourou, e-mail para o responsável" }
    CertificateAdminUpdate:
      type: object
      properties:
        status: { $ref: "#/components/schemas/CertificateState" }
        code: { type: string, nullable: true }
        useUrl: { type: string, format: uri, nullable: true }
    CampaignCtaType:
      type: string
      enum: [online, postsales, whatsapp, link, certificate]
    Campaign:
      type: object
      properties:
        id: { type: integer }
        category: { type: string, example: "Antecipação", description: "Livre: Upgrade, Antecipação, Quitação, Indicação, Brinde, Viagem, Promoção..." }
        title: { type: string, example: "Antecipe parcelas e ganhe desconto" }
        subtitle: { type: string, example: "Condições válidas por tempo limitado" }
        imageUrl: { type: string, format: uri, nullable: true }
        validUntil: { type: string, format: date, nullable: true, example: "2026-10-31" }
        ctaLabel: { type: string, example: "Quero antecipar" }
        ctaType: { $ref: "#/components/schemas/CampaignCtaType" }
        ctaUrl: { type: string, format: uri, nullable: true }
        whatsappNumber: { type: string, nullable: true, example: "5562999999999" }
        whatsappMessage: { type: string, nullable: true }
        ventureIds: { type: array, items: { type: integer } }
        isFeatured: { type: boolean, default: false, description: "Card grande com foto no app" }
    CampaignUpsert:
      allOf:
        - $ref: "#/components/schemas/Campaign"
        - type: object
          properties:
            isActive: { type: boolean, default: true }
    ChangeRequest:
      type: object
      properties:
        id: { type: integer }
        field: { type: string, enum: [address, phone, email] }
        newValue: { type: string }
        status: { type: string, enum: [pending, approved, rejected] }
        createdAt: { type: string, format: date-time }
    ChangeRequestCreate:
      type: object
      required: [field, newValue]
      properties:
        field: { type: string, enum: [address, phone, email] }
        newValue: { type: string, description: "Endereço completo em texto quando field = address" }
    VentureSocialLinks:
      type: object
      description: Campos acrescentados a cada item de GET ventures (API existente).
      properties:
        city: { type: string, nullable: true, example: "Gramado" }
        state: { type: string, nullable: true, example: "RS" }
        instagramUrl: { type: string, format: uri, nullable: true }
        youtubeUrl: { type: string, format: uri, nullable: true }
        whatsappChannelUrl: { type: string, format: uri, nullable: true }
    VentureFinancialSummary:
      type: object
      properties:
        ventureId: { type: integer }
        totalOverdue: { type: number }
        totalDue: { type: number }
        contractBalance: { type: number }
        paidInstallments: { type: integer }
        totalInstallments: { type: integer }
        nextDue:
          type: object
          nullable: true
          properties:
            dueDate: { type: string, format: date }
            amount: { type: number }
